<div class="main">
    <h1>Memorama</h1>
    <h3>¡ A jugar !</h3>
    <h3>Nivel {{level}}: {{typeLevel | titlecase}}</h3>
    <app-timer [minLimit]="minLimit" [secLimit]="secLimit" (timerStopped)="endGame($event)"></app-timer>

    <h4>Para iniciar con el juego debes de seleccionar los pares de la tarjeta.</h4>
    <div class="cartas">
        <app-cards [typeLevel]="typeLevel" [numCard]="numCard" (gameStopped)="endGame($event)"></app-cards>
    </div>
</div>

<div class="game-bg" *ngIf="isStart===false">
    <div class="game-end">
        <h3>{{msgGame}}</h3> <br>
        <h3 *ngIf="time != ''">Tiempo: {{time}}</h3> <br>
        <div class="menu">
            <a (click)="starGame()" class="mi-btn ve">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill:rgb(255, 255, 255);">
                    <path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8s3.589-8,8-8 s8,3.589,8,8S16.411,20,12,20z"></path><path d="M9 17L17 12 9 7z"></path>
                </svg>
                    Iniciar Juego
            </a><br>
    
            <a routerLink="/memorama/level/{{typeLevel}}/" class="mi-btn az">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill:rgb(255, 255, 255);">
                    <path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8s3.589-8,8-8 s8,3.589,8,8S16.411,20,12,20z"></path><path d="M9 17L17 12 9 7z"></path>
                </svg>
                Cambiar dificultad
            </a><br>
            <a routerLink="/memorama" class="mi-btn re">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill:rgb(255, 255, 255);">
                    <path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8s3.589-8,8-8 s8,3.589,8,8S16.411,20,12,20z"></path><path d="M9 17L17 12 9 7z"></path>
                </svg>
                Cambiar de tipo de juego
            </a>
        </div>
    </div>
</div>
