.sonido-div{
    margin: 0 auto; 
    overflow: hidden;
    margin-bottom: 5px;
    width: 100px;
}

.sonido-div button{
    border-radius: 25px;
    width: 100%;
}

.sonido-div button img{
    width: 100%;
}