<div class="card-group">
  <div class="card">
    <a href="/memorama"><img
      src="assets/imgMemorama/icon.svg"
      class="card-img-top"
      alt="..."
    /></a>
    <div class="card-body">
      <h5 class="card-title">MEMORAMA</h5>
      <p class="card-text">
        Si das clic aquí jugaras el juego del memorama, puedes elegir entre letras y numeros, ademas de poder seleccionar el nivel que mas se ajuste a tus habilidades
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <a href="/trazado"><img
      src="assets/narvar/TRAZO.png"
      class="card-img-top"
      alt="..."
    /></a>
    <div class="card-body">
      <h5 class="card-title">TRAZADO</h5>
      <p class="card-text">
        En este juego puedes dibujar letras y numeros. ¡diviertete mientras aprendes!
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <a href="/lectura-escritura"><img
      src="assets/narvar/LETRAS.png"
      class="card-img-top"
      alt="..."
    /></a>
    <div class="card-body">
      <h5 class="card-title">LETRAS Y NUMEROS</h5>
      <p class="card-text">
        En este juego vas a tener que identificar cada objeto, letra o numero y arrastrarlo 
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

