<div class="main" align="center">
  <h1>Ordena y arrastra las vocales</h1>
  <h3>¡ A jugar !</h3>
  <h4>Para iniciar con el juego debes arrastrar la vocales y ordenarlas de la siguiente manera:.</h4>
  <img src="/assets/letra_num/a-01.png" width="70" height="50"/>
  <img src="/assets/letra_num/e-01.png" width="70" height="50"/>
  <img src="/assets/letra_num/i-01.png" width="70" height="50"/>
  <img src="/assets/letra_num/o-01.png" width="70" height="50"/>
  <img src="/assets/letra_num/u-01.png" width="70" height="50"/>
</div>
<img src="/assets/letra_num/u-01.png" width="370" height="350"/>
<img src="/assets/letra_num/i-01.png" width="370" height="350"/>
<img src="/assets/letra_num/o-01.png" width="370" height="350"/>
<img src="/assets/letra_num/e-01.png" width="370" height="350"/>
<img src="/assets/letra_num/a-01.png" width="370" height="350"/>

<div class="main" align="center">
  <h1>¡Ordenala YA!</h1>
</div>
<img src="/assets/espacio.png" width="370" height="350"/>
<img src="/assets/espacio.png" width="370" height="350"/>
<img src="/assets/espacio.png" width="370" height="350"/>
<img src="/assets/espacio.png" width="370" height="350"/>
<img src="/assets/espacio.png" width="370" height="350"/>
