<ul>
    <li *ngFor="let item of items">
        <a routerLink="/memorama/game/{{nivel}}/{{item}}/{{id}}">
            <div class="carta" style="width: 16rem; height: 18rem;">
                <h5 class="card-title">Nivel {{item}}</h5>
                <div class="start">
                    <li *ngFor="let star of arr(item).fill(1)">
                        <img src="../../../assets/img/icon-estrella.png">
                    </li>
                </div>
            </div>
        </a>
    </li>
</ul>