<ul>
    <li *ngFor="let item of items; let i=index;">
        <a routerLink="/memorama/{{nivel}}/game">
            <div class="carta" style="width: 16rem; height: 18rem;">
                <h5 class="card-title">Nivel {{item}}</h5>
                <div class="start">
                    <ul>
                        <li *ngFor="let item of items; let i=index;">
                            <img src="../../../assets/img/icon-estrella.png">
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </li>
</ul>