*{
  text-align: center;
}
li, ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}

.carta{
  background-color: darkgray;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.carta h5{
  justify-items: center;
}
