
<div class="main">
  <app-sonido [sonido]="sonido"></app-sonido>
  <h1>Recupera tu contraseña</h1>
  <h3>Escribe tu correo con el que te registraste</h3>
  <div class="form-correo">
    <input type="email" class="form-control my-input" id="exampleInputEmail1" [(ngModel)]="email"
           aria-describedby="emailHelp" placeholder="Correo">
    <button class="btn btn-primary" (click)="recuperar()">Recuperar contraseña</button>
  </div>
  <div id=" mdlSample" class="modal fade" role="dialog"
       [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Enviado</h4>
        </div>
        <svg class="icon-signal" xmlns="http://www.w3.org/2000/svg" width="250" height="250" viewBox="0 0 24 24" style="fill:rgb(17, 150, 0);transform:;-ms-filter:"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8s3.589-8,8-8 s8,3.589,8,8S16.411,20,12,20z"></path><path d="M9.999 13.587L7.7 11.292 6.288 12.708 10.001 16.413 16.707 9.707 15.293 8.293z"></path></svg>
        <div class="modal-body">Te hemos enviado los datos para que recuperes tu contraseña al correo
          <p>Revisa tu correo</p>
        </div>
        <div class="modal-footer" align="right">
          <button type="button" id="btnOK" class="btn btn-success" (click)="openModal(false)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div id=" mdlSample" class="modal fade" role="dialog"
       [ngStyle]="{'display': mdlSampleIsOpenError ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-headerError">
          <h4 class="modal-title">Error</h4>
        </div>
        <svg class="icon-signal" xmlns="http://www.w3.org/2000/svg" width="250" height="250" viewBox="0 0 24 24" style="fill:rgb(240, 0, 0);transform:;-ms-filter:"><path d="M9.172 16.242L12 13.414 14.828 16.242 16.242 14.828 13.414 12 16.242 9.172 14.828 7.758 12 10.586 9.172 7.758 7.758 9.172 10.586 12 7.758 14.828z"></path><path d="M12,22c5.514,0,10-4.486,10-10S17.514,2,12,2S2,6.486,2,12S6.486,22,12,22z M12,4c4.411,0,8,3.589,8,8s-3.589,8-8,8 s-8-3.589-8-8S7.589,4,12,4z"></path></svg>
        <div class="modal-body">No hemos encontrado el correo que ingresaste</div>
        <div class="modal-footer" align="right">
          <button type="button" id="btnOK" class="btn btn-danger" (click)="openModalError(false)">Reintentar</button>
        </div>
      </div>
    </div>
  </div>
</div>
