.circulo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.colores{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.colores>*{
  margin: 2em;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}

.pink{
  background-color: pink;
}

.purple{
  background-color: purple;
}
