<!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('assets/material-educativo.jpg');
      height: 700px;

    "
  >
    <div class="mask" >
      <div class="d-flex justify-content-left align-items-center h-700">
        <div class="text-white">
          <img src="assets/narvar/LETRAS.png" height="100px" weight="100px"/>
          <h1 class="mb-3">DIDÁCTICO</h1>
          <a class="btn btn-outline-light btn btn-info" role="button" [routerLink]="['/login']">INICIAR SESIÓN</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
<router-outlet></router-outlet>
