<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">DIDACTICO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" >INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">¿QUE SOMOS?</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ACTIVIDADES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">FAQ</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
          <li class="nav-item" *ngIf="user">
            <button type="button" class="btn btn-danger"  (click)="onLogout()">Cerrar sesión</button>
          </li>
          <li class="nav-item" *ngIf="!user">
            <button type="button" class="btn btn-warning" routerLink="/register">Registarse</button>
          </li>
          <li class="nav-item" >
            <a class="nav-link"> {{ user?.email }} </a>
          </li>
        </ul>
        <ng-template #login>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" >
            <button type="button" class="btn btn-info" routerLink="/login">Iniciar sesión</button>
          <li class="nav-item" >
          <button type="button" class="btn btn-warning" routerLink="/register">Registarse</button>
          </li>
        </ul>
        </ng-template>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
