.main{
    width: 70%;
    margin: auto;
    padding: 4;
}
h1{
    padding: 3% 0;
}

.graficos{
    display: flex;
    justify-content: space-between;
}

.cartas{
    position: relative;
    width: 360px;
    height: 170px;
    background: whitesmoke;
    border-radius: 10px;
    padding: 2%;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.barra{
    position: absolute;
    width: 70%;
    height: 30px;
    background: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cake{
    position: absolute;
    width: 100px;
    height: 100px;
    background: violet;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}