<div class="main">
  <h1>
    Progreso
  </h1>
  <h3>
    Usuario {{email}}
  </h3>
  <hr>
  <br>

  <div class="graficos">
    <div class="cartas">
      <h3>Nivel de experiencia = {{exp}}</h3>
      <h3>Juegos totales jugados = {{intentos}}</h3>
    </div>

    <div class="cartas">
      <h1>Experiencia por nivel</h1>
      <canvas id="chartUser"></canvas>
    </div>

    <div class="cartas">
      <h1>Tiempo por nivel</h1>
      <canvas id="chartTiempo"></canvas>
    </div>

    <div class="cartas">
      <h1>Tipos de Juegos jugados</h1>
      <canvas id="chatbar"></canvas>
    </div>
  </div>
</div>